# Git提交代码时，要忽略掉的文件和目录
logs/
npm-debug.log
yarn-error.log
node_modules/
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
config.local.ts
*/config.local.ts
dbml-error.log
pnpm-lock.yaml
yarn.lock
package-lock.json
.vscode/
/test-results/
/playwright-report/
/playwright/.cache/
*.log
*.log.*
.audit
.history
.turbo
